body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #be7fe7;
}

.navbar {
    background-color: rgb(187, 9, 148) !important
}

navbar-text,
.navbar-brand {
    color: rgb(14, 14, 14) !important;
}

.navbar .nav-link {
    color: rgb(14, 13, 13) !important;
}

header {
   margin-top: 90px;
}

.card.text-center{
    margin-top: 20px;
    background-color: #be7fe7;

}